/*
	negnasu.css (1.0.0)
	a CSS-stylesheet themed around the current 3.0 design of the australian purple wolf streamer Neg Nasu.

	https://github.com/madpew/negnasu-css
*/

@property --type-color {
	syntax: "<color>";
	inherits: true;
	initial-value: var(--nn-text-dark);
}

@property --type-accent-color {
	syntax: "<color>";
	inherits: true;
	initial-value: white;
}

:root {

	/* official colors: taken from the chat-design info-image, stream-slides, etc. */

	--nn-text-dark: #6c4384;
	--nn-text-light: #9972af;
	--nn-text-headline: #d8486b;

	--nn-checkerboard-dark: #563c72;
	--nn-checkerboard-light: #6c4384;
	--nn-checkerboard-paper-dark: #ddd2dc;
	--nn-checkerboard-paper-light: #eeecec;

	--nn-chat-background: #f4ecec;
	--nn-chat-user: #ab5db7;
	--nn-chat-sub: #efc878;
	--nn-chat-vip: #d78afe;
	--nn-chat-mod: #fc62d6;
	--nn-chat-broadcaster: #a6a9ea;

	--nn-sticky-yellow: #f6ef7d;
	--nn-sticky-purple: #d78afe;
	--nn-sticky-blue: #60b1e1;

	/* unofficial colors: picked from the 3.0 model */

	--nnu-shirt: #111433;
	--nnu-hat: #232653;
	--nnu-hairdark: #5F46A2;
	--nnu-hairbright: #AC5AAC;
	--nnu-clef: #FC83D3;

	/* properties */
	--type-accent-color: white;
	--type-color: var(--nn-text-dark);
}

/* color classes */

* {
	
	&[data-type=light]{
		--type-color: var(--nn-text-light);
		--type-accent-color: var(--nn-text-dark);
	}

	&[data-type=dark]{
		--type-color: var(--nn-text-dark);
	}

	&[data-type=user]{
		--type-color: var(--nn-chat-user);
	}

	&[data-type=sub]{
		--type-color: var(--nn-chat-sub);
	}

	&[data-type=mod]{
		--type-color: var(--nn-chat-mod);
	}

	&[data-type=vip]{
		--type-color: var(--nn-chat-vip);
	}

	&[data-type=broadcaster]{
		--type-color: var(--nn-chat-broadcaster);
	}
}

/* fonts */

@font-face {
	font-family: Vanilla Extract;
	src: local(Vanilla Extract), url(vanilla.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* moving checkerboard background */

@keyframes checkerboardShift {
	0% { background-position-x: 0; }
	100% { background-position-x: -10rem; }
}
 
.checkerboard {
	clip-path: border-box;
}

.checkerboard::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -1;
	width: 200vw;
	height: 200vh;
	background: repeating-conic-gradient(var(--nn-checkerboard-dark) 0 25%, var(--nn-checkerboard-light) 0 50%) 50% / 10rem 10rem;
	transform-origin: center;
	rotate: z 13deg;
	translate: -50vw -50vh;
	animation: checkerboardShift 1.5s linear infinite;
}

/* text */

.text {
	font: 'Vanilla Extract';
	font-weight: normal;
	letter-spacing: 0.1rem;
	word-spacing: -0.1rem;
	line-height: 170%;
	color: var(--nn-text-dark);

	&.light {
		color: var(--nn-text-light);
	}
}

/* big title */

h1 {
	text-align: center;
	color: var(--nn-text-headline);
	font-size: 6rem;
	line-height: 6rem;
	font-style: italic;
	margin: 0 0.3em 0.5em 0.3em;
	padding: 0;
	text-shadow:	-0.4rem 0 0.1rem white,
					0.4rem 0 0.1rem white,
					0 -0.4rem 0.1rem white,
					0 0.4rem 0.1rem white,
					-0.28rem -0.28rem 0.1rem white,
					0.28rem -0.28rem 0.1rem white,
					-0.28rem 0.28rem 0.1rem white,
					0.28rem 0.28rem 0.1rem white,
					0.5rem 1rem 0.8rem rgba(0,0,0,0.75);
}

h2 {
	border-bottom: 4px solid currentColor;
}

h3 {
	margin: 2rem 0;
}

hr {
	border: 0;
	background-color: var(--type-color);
	height: 4px;
}

a {
	color: var(--nn-text-dark);

	&:hover{
		color: var(--nn-text-light);
	}
}

/* inputs */

fieldset {
	border: 4px solid var(--nn-text-light);
	border-radius: 0.5rem;
	margin: 1rem 0;
	
	& > legend {
		color: var(--type-accent-color);
		margin: 0.5rem 1rem;
		padding: 0 1rem;
		line-height: 2rem;
		background-color: var(--type-color);
	}
}

input, progress {
	accent-color: var(--nn-text-dark);
	
	&:disabled {
		background-color: var(--nn-chat-background);
		cursor: not-allowed;
	}
}

input[type=text], input[type=password] {
	box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5) inset;
}

input[type=text], input[type=password], input[type=checkbox] {
	
	font-family: 'Vanilla Extract';
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.1rem;
	word-spacing: -0.1rem;
	vertical-align: baseline;
	padding: 0.5rem 1rem;
	background-color: white;
	border: 4px solid var(--nn-text-dark);
	border-radius: 0.5rem;
	color: var(--nn-text-dark);
	outline: none;

	&::placeholder {
		color: var(--nn-text-light);
	}
	
	&:focus {
		outline: none;
		border: 4px solid var(--nn-chat-broadcaster);
	}

	&:disabled {
		border-color: var(--nn-text-light);
		color: var(--nn-text-light);
		background-color: var(--nn-chat-background);
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:required {
		border: 4px solid var(--nn-text-headline);
	}

	&[type=checkbox] {
		appearance: none;
		outline: none;
		border: none;
		background: none;
		padding: 0;
		margin: 0.25rem 0.5rem;
		

		&::before{
			content: '';
			box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5) inset;
			display: inline-block;
			width: 1.5rem;
			height: 1.5rem;
			background-color: white;
			vertical-align: middle;
			border: 4px solid var(--nn-text-dark);
			border-radius: 0.5rem;
		}
		
		&:checked::before {
			color: var(--nn-text-dark);
			background: radial-gradient(circle, var(--nn-text-dark) 45%, white 50% );
		}
	}
}

input[type=checkbox].switch {
	position: relative;
	width: 6rem;
	height: 2rem;
	margin: 0.25rem 0.5rem;
	vertical-align: middle;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 0;

	&::before{
		z-index:1;
		display: block;
		content: '';
		box-shadow: none;
		width: 2rem;
		
		aspect-ratio: 1/1;
		background-color: var(--nn-text-dark);
		box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5);
		translate: -40%;
		transition: translate 0.25s;
	}

	&:checked::before {
		translate: 40%;
		background: var(--nn-text-dark);
	}

	&::after{
		z-index: 0;
		position: absolute;
		display: block;
		content: '';
		box-shadow: 0;
		width: 90%;
		height: 1rem;
		border-radius: 0.75rem;
		background: var(--nn-text-light);
		margin: 0;
		transition: background-color 0.125s;
	}

	&:checked::after {
		background: var(--type-color);
	}
}

input[type=button], button {
	font-family: 'Vanilla Extract';
	font-size: 1rem;
	letter-spacing: 0.1rem;
	word-spacing: -0.1rem;
	background-color: var(--nn-text-dark);
	border: 4px solid var(--nn-text-light);
	border-radius: 0.5rem;
	color: white;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5);
	transition: background-color 0.2s ease, border-color 0.1s ease, box-shadow 0.1s ease, translate 0.1s ease;

	&:not(:disabled):hover{
		background-color: var(--nn-text-light);
		border-color: white;
	}

	&:active:not([disabled]){
		translate: 0 0.1rem;
		box-shadow: 0rem 0.1rem 0.1rem rgba(0,0,0,0.5);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

/* lists */

ul {
	list-style-type: '\2bC1  ';
	
	& li {
		margin: 0.5rem auto;
		color: var(--nn-text-dark);

		&:nth-child(2n) {
			color: var(--nn-text-light);
		}
	}
}

/* chat-bubbles */

.chatbubble {
	background-color: var(--nn-chat-background);
	color: var(--nn-text-dark);
	border: 4px solid white;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5);
	margin: 1rem 0rem;
	padding: 1rem;
	font-size: 12pt;
	line-height: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;

	&[data-tag]{
		margin-left: 5rem;

		&::before{
			content: attr(data-tag);
			font-size: 12pt;
			background-color: var(--type-color);
			clip-path: polygon(0 0, calc(100% - 1.5rem) 0%, 100% 50%, calc(100% - 1.5rem) 100%, 0% 100%);
			margin-left: -6rem;
			margin-right: 1rem;
			color: var(--type-accent-color);
			text-align: center;
			display: inline-block;
			padding: 0 2rem 0 1rem;
			box-sizing: border-box;
			min-width: 10rem;
			height: 2.5rem;
			line-height: 2.5rem;
			flex-shrink: 0;
		}
	}
}

/* sticky-notes */

.stickynote {
	position: relative;
	font-size: 120%;
	line-height: 170%;
	--sticky-color: var(--nn-sticky-yellow);
	background-color: var(--sticky-color);
	background-image: linear-gradient(10deg, rgba(0,0,0,0.2) 0%, transparent 40%, rgba(0,0,0,0.15) 100%); /*linear-gradient(60deg, rgba(0,0,0,0.1), transparent, rgba(0,0,0,0.15));*/
	display: inline-flex;
	flex-direction: column;
	padding: 0.75em;
	margin: 0.5rem;
	aspect-ratio: 1/1;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	text-align: center;
	width: 16rem;
	box-sizing: border-box;
	gap: 0.5rem;
	transform-origin: top center;

	&[data-color=blue]{
		--sticky-color: var(--nn-sticky-blue);
	}

	&[data-color=purple]{
		--sticky-color: var(--nn-sticky-purple);
	}

	&[data-color=white]{
		--sticky-color: white;
	}

	& > .photo {
		flex: 1;
		display: block;
		object-fit: cover;
		width: 100%;
	}

	&:nth-of-type(4n){
		rotate: z -12deg;
		--tape-rotation: -5deg;
		box-shadow: -0.2rem 0.6rem 0.3rem rgba(0,0,0,0.2);
	}

	&:nth-of-type(4n+1){
		rotate: z 4deg;
		--tape-rotation: -7deg;
		box-shadow: 0.2rem 0.4rem 0.3rem rgba(0,0,0,0.2);
	}

	&:nth-of-type(4n+2){
		rotate: z -6deg;
		--tape-rotation: 4deg;
		box-shadow: -0.1rem 0.6rem 0.3rem rgba(0,0,0,0.2);
	}

	&:nth-of-type(4n+3){
		rotate: z 9deg;
		--tape-rotation: -6deg;
		box-shadow: 0.2rem 0.4rem 0.3rem rgba(0,0,0,0.2);
	}

	&[data-attachment=tape]::before {
		content: '';
		position: absolute;
		top: -9%;
		display: inline-block;
		width: 50%;
		height: 18%;
		rotate: z var(--tape-rotation);
		background-color: rgba(250,250,250, 0.2);
		clip-path: polygon(0% 0%, 100% 0%, 95% 12.5%, 100% 25%, 95% 37.5%, 100% 50%, 95% 62.5% ,100% 75% ,95% 87.5%, 100% 100%, 0% 100%, 5% 87.5%, 0% 75%, 5% 62.5%, 0% 50%, 5% 37.5%, 0% 25%, 5% 12.5%);
	}
}

/* popovers */

.popover {
	background-color: var(--nn-chat-background);
	color: var(--nn-text-dark);
	border: 4px solid white;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.25rem 0.5rem rgba(0,0,0,0.5);
	padding: 1rem;
	max-width: 80vw;
	overflow: visible;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	word-spacing: -0.1rem;
	line-height: 2rem;
	--transition-length: 0.5s;
	opacity: 0;
	scale: 0 0;
	transition: opacity var(--transition-length) ease, display var(--transition-length) allow-discrete, overlay var(--transition-length) allow-discrete, scale var(--transition-length);

	&:not([popover]){
		position: relative;
		transition: none;
		opacity: 1;
		scale: 1 1;
	}

	&::backdrop {
		background-color: rgba(0,0,0,0.25);
		backdrop-filter: blur(0.5rem);
		opacity: 0;
		transition: opacity var(--transition-length) ease, display var(--transition-length) allow-discrete, overlay var(--transition-length) allow-discrete;
	}

	&:popover-open {
		opacity: 1;
		scale: 1 1;
  		@starting-style { opacity: 0; scale: 0 0; }

		&::backdrop {
			opacity: 1;
			@starting-style { opacity: 0; }
		}
	}

	&[data-title] {
		padding-top: 2em;
	}

	&[data-title]:not([popover]) {
		margin: 4em auto 2em auto;
	}

	&[data-title]::before {
		content: attr(data-title, '');
		position: absolute;
		font-size: 200%;
		line-height: 150%;
		top: -1em;
		left: 1em;
		background-color: var(--type-color);
		color: var(--type-accent-color);
		margin: 0;
		padding: 0.25rem 2rem;
	}

	&[data-x=true] > button:first-child {
		position: absolute;
		right: -1.25rem;
		top: -1.25rem;
		background-color: red;
		border: 4px solid white;
		border-radius: 0.5rem;
		cursor: pointer;
		display: inline-block;
		box-sizing: border-box;
		width: 2.5rem;
		aspect-ratio: 1/1;
		margin: 0;
		padding: 0;
		background-image:
            linear-gradient(45deg, transparent 0%, transparent 43%, white 45%, white 55%, transparent 57%, transparent 100%),
            linear-gradient(135deg, transparent 0%, transparent 43%, white 45%, white 55%, transparent 57%, transparent 100%);
		background-size: 1.6rem 1.6rem;
		background-position: center;
		background-repeat: no-repeat;

		&:hover{
			background-color: orangered;
		}
	}
}

/* alerts */

.alert {
	position: relative;
	background-color: var(--nn-chat-background);
	color: var(--nn-text-dark);
	border: 4px solid var(--type-color);
	border-radius: 0.5rem;
	margin: 1rem 0rem;
	padding: 0.5rem;
	list-style-type: none;
	
	& > summary {
		list-style: none;
	}

	&[data-dismiss] > summary {
	
		&::before {
			content: '';
			position: absolute;
			right: -1rem;
			top: -1rem;
			background-color: red;
			border: 4px solid white;
			border-radius: 0.5rem;
			cursor: pointer;
			display: inline-block;
			box-sizing: border-box;
			width: 2rem;
			aspect-ratio: 1/1;
			margin: 0;
			padding: 0;
			background-image:
				linear-gradient(45deg, transparent 0%, transparent 43%, white 45%, white 55%, transparent 57%, transparent 100%),
				linear-gradient(135deg, transparent 0%, transparent 43%, white 45%, white 55%, transparent 57%, transparent 100%);
			background-size: 1rem 1rem;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:hover::before {
			background-color: orangered;
		}
	}

	&[data-dismiss]:not([open]){
		display:none;
	}
}